<!DOCTYPE html>
<head>
    <title>Додати військовослужбовця</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
<h1>Додати військовослужбовця</h1>
<form method="POST">
    <label>Ім'я</label><br>
    <input name="nameofmil" class="field"/><br><br>
    <label>Прізвіще</label><br>
    <input name="lastname"  class="field" /><br><br>
    <label>По-батькові</label><br>
    <input name="fathername" class="field"/><br><br>
    <label>Звання</label><br>
    <input name="rankof" class="field"/><br><br>
    <label>Дата народження</label><br>
    <input name="dob" class="field" type="date"/><br><br>
    <input type="submit" value="Додати" />
</form>
<a href="/">На головну</a>
</body>
