<!DOCTYPE html>
<head>
    <title>Додати військовослужбовця</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
<h1>Додати військовослужбовця</h1>
<form method="POST">
    <label>Підрозділ</label><br>
    <input name="nameofunit" class="field"/><br><br>
    <input type="submit" value="Додати" />
</form>
<a href="/">На головну</a>
</body>
