<!DOCTYPE html>
<head>
    <title>Додати посаду</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
<h1>Додати Посаду</h1>
<form method="POST">
    <label>Назва посади</label><br>
    <input name="nameofpos" class="field"/><br><br>
    <label>ID військовослужбовця</label><br>
    <input name="militaryMilId" class="field"/><br><br>
    <label>ID підрозділу</label><br>
    <input name="unitUnitId" class="field"/><br><br>
    <input type="submit" value="Додати" />
</form>
<a href="/">На головну</a>
</body>
