<!DOCTYPE html>
<html>
<head>
    <title>Облік</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>Підрозділи</h1>
<p><a href="/createunit">Додати підрозділ</a></p>
<table>
    <tr><th>Підрозділи</th></tr>
    {{#each units}}
        <tr>
            <td>{{this.unitId}}</td>
            <td>{{this.nameofunit}}</td>
            <td>
                <a href="editpos/{{this.unitId}}">Редагувати підрозділ</a>|
                <form action="deleteunit/{{this.unitId}}" method="POST" style="display:inline;">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    {{/each}}
</table>
<a href="/">Повернутися</a>
</body>
<html>